@import url('https://fonts.googleapis.com/css2?family=Contrail+One&display=swap');

@font-face {
    font-family: neon;
    src: url(Warnes-Regular.ttf);
}

*{
    background-color: black;
    color: white;
    box-shadow: none;
    border:none;
}

.button:hover {
    cursor: pointer;
}

.button{
    height: 350px;
    width: auto;
}

h1{
    font-size: 60px;
    text-shadow: 
    0 0 7px red,
    0 0 42px red,
    0 0 82px red,
    0 0 110px red,
    0 0 180px blueviolet,
    0 0 200px blue;
    font-family: 'neon', cursive;
    text-shadow: 2px 2px 2px #ff0000, 5px 7px 5px blue;
}

table, td , th{
    font-weight: bold;
    font-size: 22px;
    width: 420px;
    height: auto;
    border: 1px solid white;
    text-align: center;
}

table{
    border: none;
}

.results {
    font-size: 18px;
}

th {
    height: 50px;
}

td{
    height: 35px;
}

table img {
    width: 190px;
    height: 190px;
}
