@import url('https://fonts.googleapis.com/css2?family=Contrail+One&display=swap');

@font-face {
    font-family: neon;
    src: url(Warnes-Regular.ttf);
}

* {
    background-color: black;
    color: white;
    font-family: 'neon', cursive;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    height: 100vh;
    overflow-x: hidden;
}

.container {
    display: flex;
    flex: 1 1 auto;
    justify-content: space-evenly;
    align-items: center;
    box-sizing: border-box;
    gap: 10px;
    flex-wrap: wrap;
    padding: 0px 180px;
    width: 100vw;
}

.button {
    height: 260px;
    width: 260px;
}

.button:hover {
    cursor: pointer;
}

.header{
    background-color: red;
    border-bottom: solid blue 4px;
    height: 8px;
    width: 100%;
}

.footer{
    border-top: solid blue 4px;
    border-bottom: red solid 8px;
    width: 100%;
}

h1{
    font-size: 38px;
    text-shadow: 
    0 0 7px red,
    0 0 42px red,
    0 0 82px red,
    0 0 110px red,
    0 0 180px blueviolet,
    0 0 200px blue;
    text-shadow: 2px 2px 2px #ff0000, 5px 7px 5px blue;
    margin-bottom: 0px;
}

h2{
    text-align: center;
    text-shadow: 2px 2px 2px #ff0000, 4px 4px 4px yellow;
    margin-top: 20px;
    margin-bottom: 15px;
}

table, td , th{
    font-weight: bold;
    font-size: 22px;
    width: 340px;
    height: auto;
    text-align: center;
    border-radius: 8px;
}

.scorePlayer,
.scoreComputer,
.signScorePlayer,
.signScoreComputer,
.gameResult{
    border: none;
}

.gameResult{
    font-size: 18px;
    text-shadow: 
    0 0 7px red,
    0 0 42px red,
    0 0 82px red,
    0 0 110px red,
    0 0 180px blueviolet,
    0 0 200px blue;
    text-shadow: 2px 2px 2px #ff0000, 5px 7px 5px blue;
    box-shadow: none;
}

table{
    border: none;
    margin: 30px;
    margin-bottom: 0px;
    
}

.results {
    font-size: 12px;
    padding: 0;
    margin: 0;
    border: 1px solid red;
    box-shadow: 0 0 0 1px blue;
}

.signScorePlayer,
.signScoreComputer{
    padding: 20px;
}

th {
    height: 50px;
}

td{
    height: 35px;
}

table img {
    width: 160px;
    height: 160px;
}

.neon {
    text-shadow: 
    0 0 7px red,
    0 0 42px red,
    0 0 82px red,
    0 0 110px red,
    0 0 180px blueviolet,
    0 0 200px blue;
    font-family: 'neon', cursive;
    text-shadow: 2px 2px 2px #ff0000, 5px 7px 5px yellow;
}

.playAgain{
    font-size: 16px;
}

.playAgainHover:hover {
    cursor: pointer;
}

.tableau {
    width: 100vh;
    align-items: center;
    display: flex;
    flex-direction: column;
}

td, th {
    border: 1px solid red;
    box-shadow: 0 0 0 1px blue;
}

.addGlow {
    outline: none;
    box-shadow: 0 0 50px #9ecaed;
}